<nav class="navbar navbar-light bg-light">
  <a href="/new" class="navbar-brand">Create New</a>
  <a href="/restaurants" class="navbar-brand">See All Restaurants</a>
</nav>
<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>

<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %> Rated:<%= review.rating %>/5</li>
  <% end %>
</ul>

<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant),  class: "btn btn-primary" %>

<%= link_to 'Back', restaurants_path, class: "btn btn-primary" %>
